extends includes/layout.pug

block content 

    //- header.header
    //-     h1 Welcome to YouAndEyeAwards Admin Area
    //-     //- p Rating for #{optician.category} #{optician.segment}
    //-     p= `${optician.category}`
    main.main

    .cards
        each optician in opticians
            .card
                .card__title 
                    h2= `${optician.name}` 
                .card__logo 
                    img(src=`${optician.logoUrl}`, alt="")
                .card__rating
                    .card__rating-total 
                        h4 Total Number Of Votes
                        p= `${optician.nRatings}`
                    .card__rating-ec
                        h4 Eyewear Collection
                        p= `${optician.ecAverage}`
                    .card__rating-sq
                        h4 Service Quality 
                        p= `${optician.sqAverage}`
                    .card__rating-ce
                        h4 Clinical Expertise 
                        p= `${optician.ceAverage}` 
                    .card__rating-os 
                        h4 Overall Satisfaction 
                        p= `${optician.osAverage}`
                .card__profile
                    .card__lensesDispensed 
                        h4 Lenses Dispensed 
                        p= `${optician.lensesDispensed}`
                    .card__brandsStocked 
                        h4 Brands Stocked 
                        p= `${optician.brandsStocked}`
                    .card__servicesOffered 
                        h4 Services Offered 
                        p= `${optician.servicesOffered}`
                    //- .card__category 
                    //-     h4 Category 
                    //-     p= `${optician.category}`
                    //- .card__segment
                    //-     h4 Segment 
                    //-     p= `${optician.segment}`